/* top-bar.component.css */

.top-bar {
  background-color: #333;
  color: #f2f2f2;
  padding: 10px; /* Adjust padding if needed */
  margin-bottom: 200px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed; /* Position fixed */
  top: 0; /* Stick to the top */
  left: 0; /* Align to the left */
  z-index: 1000; /* Ensure it's above other content */
}

.profile {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Adjust margin if needed */
}

.profile img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
