<div class="header">
  <button mat-button (click)="onBackCall()" class="small-button">
    <mat-icon class="small-icon">arrow_back</mat-icon>
    Voltar
  </button>
  <h2 class="title">Pedidos pendentes para funcionários da Câmara Municipal</h2>
</div>
<div>
  <form>
    <input type="text" placeholder="Procurar Convite" #filter>
    <button class="primary" type="button" (click)="filterPending(filter.value)">Search</button>
  </form>
</div>
<mat-divider></mat-divider>
<div>
  <mat-list *ngFor="let item of filteredPendingList">
    <mat-list-item>
      <div matListItemTitle style="font-weight: bold" (click)="onItemClick(item.username, item.id)">{{ item.email }}</div>
      <div matListItemLine style="font-weight: bold">NIF: {{ item.nif }} | Association: {{ item.association.name }} - {{ item.association.number }}</div>
      <div matListItemMeta>
        <button mat-icon-button class="accept-button" (click)="onAccept(item.id)">
          <mat-icon>check</mat-icon>
        </button>
        <button mat-icon-button class="refuse-button" (click)="onDecline(item.id)">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</div>
