<div class="content">
  <h3>Insira os detalhes do registo.</h3>
  <form (ngSubmit)="onSubmit()" class="example-form">
    <mat-form-field>
      <mat-label>Título</mat-label>
      <input matInput type="text" name="title" [(ngModel)]="title">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Adicione uma descrição</mat-label>
      <textarea matInput [(ngModel)]="description" name="description"  required></textarea>
    </mat-form-field>
    <br>
    <button mat-flat-button color="accent" class="button" type="submit">Submeter Registo</button>
  </form>
  <br>
  <input type="file" (change)="onFileUpload($event)" #fileInput style="display:none">
  <button (click)="fileInput.click()">Adicionar Ficheiro</button>
  <ul>
    <li *ngFor="let entry of files.entries()">
      {{ entry[0] }}
      <button (click)="onRemoveFile(entry[0])">Remover</button>
    </li>
  </ul>
</div>
