<div class="content">
  <h3>Enter the details of the Log Entry</h3>
  <form (ngSubmit)="onSubmit()" class="example-form">
    <mat-form-field>
      <mat-label>Title of the log entry</mat-label>
      <input matInput type="text" name="title" [(ngModel)]="logEntry.title">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Leave a comment</mat-label>
      <textarea matInput [(ngModel)]="logEntry.description" name="description"  required></textarea>
    </mat-form-field>
    <br>
    <button mat-flat-button color="accent" class="button" type="submit">Insert LogEntry</button>
  </form>
  <br>
  <input type="file" (change)="onFileUpload($event)" #fileInput style="display:none">
  <button (click)="fileInput.click()">Adicionar Ficheiro</button>
  <input type="file" (change)="onImageUpload($event)" #imageInput style="display:none">
  <button (click)="imageInput.click()">Adicionar Imagem</button>
  <ul>
    <li *ngFor="let entry of filesNames.entries()">
      {{ entry[0] }}: {{ entry[1] }}
      <button (click)="onRemoveFile(entry[0])">Remover</button>
    </li>
  </ul>
</div>
