<body>
<div class="container">
  <div class="left">
    <img src="assets/logo.png" alt="" class="logo">
    <h1 class="title">Livro de obra</h1>
  </div>
  <div class="right">
    <h1 class="page-title">Iniciar Sessão</h1>
    <form (ngSubmit)="login()">
      <div class="input">
        <div>
          <label for="username">Nome de Utilizador</label>
        </div>
        <div>
          <input type="text" id="username" name="username" [(ngModel)]="username" required>
        </div>
      </div>
      <div class="input">
        <div>
          <label for="password">Palavra Passe</label>
        </div>
        <div>
          <input type="password" id="password" name="password" [(ngModel)]="password" required>
        </div>
      </div>
      <div>
        <button mat-stroked-button class="button" type="submit">Login</button>
      </div>
    </form>
    <div>
      <p class="text">Não tens conta? <a routerLink="/signup">Regista-te aqui.</a></p>
    </div>
  </div>
</div>
</body>
