.small-button {
  width: 2%;
  height: auto;
  margin: 10px;
  background-color: white;
  border: none;
  vertical-align: center;
}

.small-icon {
  font-size: 200%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the form takes the full height of the viewport */
  margin: 0; /* Remove default margin */
  flex-direction: column; /* Ensure content is arranged in a column */
}

.input {
  margin: 5px;
  text-align: center;
}

.button {
  background-color: #FF7A00;
  color: white;
  margin-top: 20px; /* Add some space between inputs and button */
}
