<div>
  <button (click)="onBackCall()" class="small-button">
    <mat-icon class="small-icon">arrow_back</mat-icon>
  </button>
  <h2>Editar Perfil</h2>
</div>

<form (ngSubmit)="edit()">
  <div class="input">
    <div>
      <label for="username">Nome de Utilizador</label>
    </div>
    <div>
      <input *ngIf="user" type="text" id="username" name="username" [(ngModel)]="user.username" required>
    </div>
  </div>
  <div class="input">
    <div>
      <label for="firstName">Nome Próprio</label>
    </div>
    <div>
      <input *ngIf="user" type="firstName" id="firstName" name="firstName" [(ngModel)]="user.firstName" required>
    </div>
  </div>
  <div class="input">
    <div>
      <label for="lastName">Apelido</label>
    </div>
    <div>
      <input *ngIf="user" type="text" id="lastName" name="lastName" [(ngModel)]="user.lastName" required>
    </div>
  </div>
  <div class="input">
    <div>
      <label for="phone">Número de Telefóne</label>
    </div>
    <div>
      <input *ngIf="user" type="text" id="phone" name="phone" [(ngModel)]="user.phone">
    </div>
  </div>
  <div class="input">
    <div>
      <label for="county">Concelho</label>
    </div>
    <div>
      <input *ngIf="user" type="text" id="county" name="county" [(ngModel)]="user.location.county">
    </div>
  </div>
  <div class="input">
    <div>
      <label for="parish">Freguesia</label>
    </div>
    <div>
      <input *ngIf="user" type="text" id="parish" name="parish" [(ngModel)]="user.location.parish">
    </div>
  </div>
    <button mat-stroked-button class="button" type="submit">Editar</button>
</form>
