<div class="header">
  <button (click)="onBackCall()" class="small-button">
    <mat-icon class="small-icon">arrow_back</mat-icon>
  </button>
  <h2 class="title">Criar Obra</h2>
</div>
<form (ngSubmit)="create()">
  <div class="input">
    <div>
      <label for="name">Nome da Obra </label>
    </div>
    <div>
      <input type="text" id="name" name="name" [(ngModel)]="work.name" required>
    </div>
  </div>
  <div class="input">
    <div>
      <label>Tipo da Obra</label>
    </div>
    <div>
      <select name="Type" [(ngModel)]="work.type">
        <ng-container *ngFor="let type of types">
          <option [value]="type">{{ type }}</option>
        </ng-container>
      </select>
    </div>
  </div>
  <div class="input">
    <div>
      <label for="description">Descrição</label>
    </div>
    <div>
      <input type="text" id="description" name="description" [(ngModel)]="work.description" required>
    </div>
  </div>
  <div class="input">
    <div>
      <label for="holder">Titular da Licença</label>
    </div>
    <div>
      <input type="text" id="holder" name="holder" [(ngModel)]="work.holder" required>
    </div>
  </div>
  <div class="input">
    <div>
      <label for="director">Diretor</label>
    </div>
    <div>
      <input type="text" id="director" name="director" [(ngModel)]="work.director" required>
    </div>
  </div>
  <div class="input">
    <div>
      <label for="company">Empresa</label>
    </div>
    <div>
      <input type="text" id="company" name="company" [(ngModel)]="work.company.name" required>
      <input type="text" id="companyNum" name="companyNum" [(ngModel)]="work.company.num" required>
    </div>
  </div>
  <div class="input">
    <div>
      <label for="building">Prédio</label>
    </div>
    <div>
      <input type="text" id="building" name="building" [(ngModel)]="work.building" required>
    </div>
  </div>
  <div class="input">
    <div>
      <label>Selecionar Distrito</label>
    </div>
    <div>
      <select class="selector" name="district" [(ngModel)]="work.address.location.district">
        <ng-container *ngFor="let distrito of districts">
          <option [value]="distrito">{{ distrito }}</option>
        </ng-container>
      </select>
    </div>
  </div>
  <div class="input">
    <div>
      <label>Selecionar Concelho</label>
    </div>
    <div>
      <select class="selector" name="county" [(ngModel)]="work.address.location.county" (change)="updateLocation(true)">
        <ng-container *ngFor="let concelho of counties">
          <option [value]="concelho">{{ concelho }}</option>
        </ng-container>
      </select>
    </div>
  </div>
  <div class="input">
    <div>
      <label>Selecionar Freguesia</label>
    </div>
    <div>
      <select class="selector" name="Parish" [(ngModel)]="work.address.location.parish" (change)="updateLocation(false)">
        <ng-container *ngFor="let freguesia of parishes">
          <option [value]="freguesia">{{ freguesia }}</option>
        </ng-container>
      </select>
    </div>
  </div>
  <div class="input">
    <div>
      <label for="street">Rua</label>
    </div>
    <div>
      <input type="text" id="street" name="street" [(ngModel)]="work.address.street" required>
      <input type="text" id="zipCode" name="zipCode" [(ngModel)]="work.address.postalCode" required>
    </div>
  </div>
  <button class="button" type="submit">Criar</button>
</form>
