
.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.small-button {
  width: 2%;
  height: auto;
  margin: 10px;
  background-color: white;
  border: none;
}

.small-icon {
  font-size: 200%;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column; /* Ensure content is arranged in a column */
}

.input {
  margin: 5px;
  text-align: center;
}

.selector {
  margin: 5px;
  width: 200px;
}

.button {
  margin-top: 10px; /* Add some space between inputs and button */
  background-color: #FF7A00;
  color: white;
}



