.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.small-button {
  width: 2%;
  height: auto;
  margin: 10px;
  background-color: white;
  border: none;
}

.small-icon {
  font-size: 200%;
}

.title {
  margin-left: 20px;
}

.content {
  display: flex;
  justify-content: space-between;
  height: 80%;
  overflow: hidden;
}

.left-section {
  flex: 1;
  margin-right: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
}

.example-form {
  margin-top: 20px;
}

.example-form mat-form-field {
  width: 50%;
  margin: 0 auto; /* Center form fields horizontally */
}

.add-button {
  display: block;
  width: auto;
  margin: 10px auto; /* Center button and add margin for spacing */
}

.right-section {
  flex: 1;
  margin-right: 20px;
}

.table-container {
  max-height: 55%; /* Adjust based on your row height */
  overflow-y: auto;
}

.table {
  width: 100%;
  background-color: #11113D;
  max-width: 100%;
}

.table th, .table td {
  text-align: center;
  white-space: nowrap;
}

.table th {
  color: #FF7A00;
}

.table td {
  color: white;
}

.submit-button {
  display: block;
  margin: 20px auto;
}

mat-label {
  color: #FF7A00;
}

.remove-button {
  height: auto;
  width: auto;
  background-color: white;
  color: black;
}

.remove-button:hover {
  background-color: red;
  color: white;
}
