.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.small-button {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.small-icon {
  font-size: 30px;
  margin-right: 5px;
}

.content {
  width: 100%;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.author {
  margin-bottom: 10px;
  font-size: 18px;
}

.dates {
  margin-bottom: 20px;
}

.dates div {
  margin-bottom: 5px;
}

.description {
  margin-bottom: 20px;
}

.files table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.files th, .files td {
  border: 1px solid #FF7A00;
  padding: 8px;
  text-align: left;
}

.files th {
  background-color: #11113D;
  color: #FF7A00;
}

.files tr:nth-child(even) {
  background-color: #f3f3f3;
}
