.main-container {
  display: flex;
  height: 100%; /* Full height */
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100%;
  background-color: #f5f5f5;
  border-right: 1px solid #ddd;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #11113D;
  color: #FF7A00;
}

.sidebar-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 10px;
}

.sidebar-content {
  flex: 1;
  padding: 10px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 10px;
}

.sidebar-menu-item {
  margin-bottom: 10px;
}

.sidebar-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  padding: 5px;
  border-radius: 5px;
  user-select: none;
}

.sidebar-menu-link:hover {
  background-color: #ddd;
}

.sidebar-menu-icon {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  color: #999;
  margin-right: 10px;
}

.sidebar-menu-text {
  font-size: 0.9em;
  color: #333;
}

.sidebar-menu-badge {
  display: inline-block;
  padding: 0 5px;
  background-color: #FF7A00;
  color: #fff;
  font-size: 0.7em;
  border-radius: 10px;
  margin-left: 5px;
}

.small-button {
  width: 2%;
  height: auto;
  background-color: #11113D;
  color: white;
  border: none;
  margin-right: 20px;
}

.small-icon {
  font-size: 200%;
}

.content {
  width: 85%;
}

.members-container {
  flex-grow: 1;
  overflow-y: auto; /* Enable vertical scrolling if necessary */
  display: flex;
  justify-content: center;
  gap: 10px;
}

.member-profile {
  width: 150px;
  text-align: center;
}

.member-card {
  width: 250px;
  height: 250px;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
}

.page-container {
  flex-direction: column;
  height: 100%;
  position: relative;
}

.invite-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.work-values {
  display: flex;
  justify-content: center; /* Center horizontally */
  margin-bottom: 10px;
}

.element-value {
  margin-right: 20px; /* Add space between icons */
}

.log-top-bar {
  display: flex;
  align-items: center; /* Align items vertically centered */
  justify-content: space-between; /* Distribute space between items */
}

form {
  flex-grow: 1; /* Allows the form to take up all available space */
}

.log-button {
  /* Pushes the button to the far right */
  margin: 10px 10px 10px auto;
}

.image-container {
  width: 100%; /* or a fixed width, e.g., 200px */
  aspect-ratio: 1/1; /* maintain a 1:1 aspect ratio */
  overflow: hidden; /* ensure the image doesn't overflow */
}

.work-image {
  object-fit: cover; /* scale the image to cover the container */
  width: 100%;
  height: 100%;
}

.sidebar .close-button {
  background-color: #FF7A00;
  color: white;
  margin-top: auto;
}

.sidebar .close-button:hover {
  background-color: red;
}

.general-tab-content {
  margin-top: 5%;
  display: flex;
  justify-content: center; /* Center horizontally */
  flex-direction: column;
  align-items: center; /* Center vertically */
}

.container {
  width: 50%; /* adjust the width to your liking */
  margin: 20px ; /* center the container */
  padding: 20px;
  background-color: #f9f9f9; /* light gray background */
  border: 1px solid #ddd; /* light gray border */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

.row {
  display: flex; /* make the row a flex container */
  flex-wrap: wrap; /* allow the columns to wrap */
  justify-content: space-between; /* space the columns evenly */
}

.col-md-6 {
  flex-basis: 50%; /* make each column take up 50% of the row */
  margin: 20px; /* add some margin between columns */
}

table {
  width: 100%; /* make the table take up the full width of the column */
  border-collapse: collapse; /* remove the border spacing */
}

th, td {
  border: 1px solid #ddd; /* light gray border */
  padding: 10px; /* add some padding to the cells */
  text-align: left; /* left-align the text */
}

th {
  background-color: #f0f0f0; /* light gray background for headers */
}

td {
  background-color: #fff; /* white background for data cells */
}

strong {
  font-weight: bold; /* make the strong text bold */
}

.notification {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
  border: 1px solid #FF7A00;
  margin: 5px;
}

.notification-content {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.notification-number {
  font-weight: bold;
  color: #FF7A00;
  font-size: 1.2em;
  margin-right: 5px;
}

.notification-text {
  font-size: 0.9em;
  color: #333;
}

.notification-icon {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  color: #999;
}

.search-input[type="text"] {
  border: solid 1px #000000;
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  margin-left: 10px;
  width: 30%; /* Adjust the width of the input */
}

