<mat-tab-group>
  <mat-tab label="Geral">
    <h2 class="work-heading">{{ work?.name }}</h2>
    <p class="work-type">Tipo: {{ work?.type }}</p>
    <p class="work-state">Estado: {{ work?.state }}</p>
    <p class="work-description">Descrição: {{ work?.description }}</p>
    <p class="work-address">Morada: {{ work?.address?.street }}, {{ work?.address?.postalCode }}</p>
    <p class="work-location">
      Distrito: {{ work?.address?.location?.district }}<br>
      Concelho: {{ work?.address?.location?.county }}<br>
      Freguesia: {{ work?.address?.location?.parish }}
    </p>
  </mat-tab>
  <mat-tab label="Equipa">
    <div class="members-container">
      <mat-card *ngFor="let member of work?.members" class="member-card" (click)="onCardClick(member.id)">
        <img mat-card-image src="/assets/profile.png" alt="{{ member.name }}" class="member-profile">
        <mat-card-header>
          <mat-card-title>{{ member.name }}</mat-card-title>
          <mat-card-subtitle>{{ member.role }}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Registos"> Content 3</mat-tab>
</mat-tab-group>
