.main-container {
  display: flex;
  height: 100%; /* Full height */
}

.sidebar {
  margin: 5px;
  width: 20%;
  height: auto;
  padding: 10px;
  border: black 1px solid;
  text-align: center;
  display: grid;
}

.content {
  width: 80%;
}

.members-container {
  flex-grow: 1;
  overflow-y: auto; /* Enable vertical scrolling if necessary */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.member-profile {
  width: 150px;
  text-align: center;
}

.member-card {
  width: 250px;
  height: 250px;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
}

.page-container {
  flex-direction: column;
  height: 100%;
  position: relative;
}

.invite-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.log-top-bar {
  display: flex;
  align-items: center; /* Align items vertically centered */
  justify-content: space-between; /* Distribute space between items */
}

form {
  flex-grow: 1; /* Allows the form to take up all available space */
}

.log-button {
  /* Pushes the button to the far right */
  margin: 10px 10px 10px auto;
}

.work-image {
  max-width: 100%;
  height: auto;
}

.location-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-image {
  max-width: 8%;
  height: auto;
  margin-bottom: 10px;
}

.location-details {
  text-align: center;
}

.location-details p {
  margin: 2px 0;
}

.sidebar .close-button {
  background-color: #FF7A00;
  color: white;
  margin-top: auto;

}

.sidebar .close-button:hover {
  background-color: red;
}
