
.members-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.member-profile {
  width: 150px;
  text-align: center;
}

.member-card {
  margin: 10px;
  width: 250px;
  height: 250px;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
}

.log-top-bar {
  display: flex;
  align-items: center; /* Align items vertically centered */
  justify-content: space-between; /* Distribute space between items */
}

form {
  flex-grow: 1; /* Allows the form to take up all available space */
}

.log-button {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: auto; /* Pushes the button to the far right */
}
