<article>
  <img class="listing-photo" [src]="workListing?.photo"
       alt="Exterior photo of {{workListing?.name}}"/>
  <section class="listing-description">
    <h2 class="listing-heading">{{workListing?.name}}</h2>
    <p class="listing-location">{{workListing?.city}}, {{workListing?.state}}</p>
  </section>
  <section class="listing-features">
    <h2 class="section-heading">About this housing location</h2>
    <ul>
      <li>Units available: {{workListing?.availableUnits}}</li>
      <li>Does this location have wifi: {{workListing?.wifi}}</li>
      <li>Does this location have laundry: {{workListing?.laundry}}</li>
    </ul>
  </section>
</article>
