<mat-card class="card">
  <mat-card-header>
    <mat-card-subtitle>Obra</mat-card-subtitle>
    <mat-card-title>{{ workListing.name }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ workListing.description }}</p>
    <div style="display: flex; margin-bottom: 10px">
      <mat-icon>location_pin</mat-icon>
      <span>
      {{ workListing.address.street }}, {{ workListing.address.postalCode }} | {{ workListing.address.location.parish }}
        , {{ workListing.address.location.county }}, {{ workListing.address.location.district }}
      </span>
    </div>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions style="justify-content: center">
    <button [routerLink]="['/work-details', workListing.id]">Ver</button>
  </mat-card-actions>
</mat-card>

