
.card {
  background-color: #11113D;
  color: white;
  max-width: 100%;
}

.card mat-card-subtitle{
  color: #FF7A00;
}

.card mat-divider {
  background-color: #FF7A00;
}

.card mat-card-title {
  color: #FF7A00;
}

.card p {
  font-size: 14px;
}

.card button {
  width: 40px;
  height: 30px;
  color: white;
  background-color: #11113D;
  border: none;
}

.card button:hover {
  background-color: #FF7A00;
  color: white;
}

.card span{
  font-size: 10px;
  margin-left: 10px;
  width: auto;
}

.card mat-icon{
  height: auto;
  width: 8%;

}

.card div{
  padding-right: 10px;
}
