<mat-card class="card">
  <mat-card-header>
    <mat-card-title>{{ workListing.name }}
        <mat-icon style="margin-left: 10px; color: green;" *ngIf="workListing.verification">verified</mat-icon>
      <mat-icon style="margin-left: 10px; color: red;" *ngIf="workListing.state === 'REJEITADA'">cancel</mat-icon>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content style="display: flex; flex-direction: column; justify-content: space-between; height: 100%">
    <div>
      <p>{{ workListing.description }}</p>
      <div style="display: flex; align-items: center; margin-bottom: 10px">
        <mat-icon style="margin-right: 10px">person</mat-icon>
        <span style="flex: 1">{{ workListing.owner }}</span>
      </div>
      <div style="display: flex; align-items: center; margin-bottom: 10px">
        <mat-icon style="margin-right: 10px">location_pin</mat-icon>
        <span style="flex: 1">
          {{ workListing.address.street }}, {{ workListing.address.postalCode }} |
          {{ workListing.address.location.parish }}, {{ workListing.address.location.county }},
          {{ workListing.address.location.district }}
        </span>
      </div>
    </div>
    <div>
      <mat-divider></mat-divider>
      <mat-card-actions style="display: flex; justify-content: center; align-items: center;">
        <button [routerLink]="['/work-details', workListing.id]">Ver</button>
      </mat-card-actions>
    </div>
  </mat-card-content>
</mat-card>
