
.card {
  background-color: #11113D;
  color: white;
  width: 95%;
  height: 300px;
}

.card mat-card-subtitle{
  font-size: 16px;
  color: #FF7A00;
}

.card mat-divider {
  background-color: #FF7A00;
}

.card mat-card-title {
  font-size: 30px;
  color: #FF7A00;
}

.card p {
  font-size: 14px;
}

.card button {
  width: 40px;
  height: 30px;
  color: white;
  background-color: #11113D;
  border: none;
}

.card button:hover {
  background-color: #FF7A00;
  color: white;
}

.card span{
  font-size: 14px;
  margin-left: 10px;
  width: auto;
}

.card mat-icon{
  height: auto;
  width: 5%;
}

.card div{
  padding-right: 10px;
}
