.listing {
  background: #9b76ec;
  border-radius: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.listing-heading {
  color: #1b0431;
  padding: 10px 20px 0 20px;
}
.listing-description {
}
.listing-state {
}
.listing-type {
}
.listing-location {
  display: flex;
  align-items: center;
  justify-content: center;
}
.location-pin {
  margin-right: 10px;
  text-align: center;
}

section.listing a {
  padding-left: 20px;
  text-decoration: none;
  color: #57498d;
}
section.listing a::after {
  content: "\203A";
  margin-left: 5px;
}
