
input[type="text"] {
  border: solid 1px #000000;
  padding: 10px;
  border-radius: 8px;
  margin-right: 4px;
  width: 30%; /* Adjust the width of the input */
}

@media (max-width: 499px) {
  input[type="text"], button {
    width: 100%;
    margin: 5px 0;
  }
}

@media (min-width: 500px) and (max-width: 768px) {
  input[type="text"] {
    width: 70%;
  }
}
